/*
 * Fix the un-equippable inventory CSS so that hiding
 * parts of it doesn't break the layout.
 */
.you_bottom_rhs h3 {
  clear: both;
}

.you_bottom_rhs ul.you_icon.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* Hide items that are filtered out. */
.flis-hidden {
  display: none !important;
}

.me-profile-slot.flis-hidden {
  /*
   * Don't hide the empty 'equipped' slot in the
   * equippable category (hiding it screws up the layout).
   */
  display: initial !important;
}

.flis-search__container {
  margin-top: 12px;
  margin-bottom: 8px;
}

/* Match the outfit dropdown styles */
.flis-search__input {
  border: 1px solid #a89e8c;
  color: #1d1d1d;
  font-size: 13px;
  line-height: 1.38462;
  padding: 6px 8px;
}

.ui-widget-content .flis-search__input {
  /* Override the 1em font-size declared for .ui-widget input */
  font-size: 13px;
  /*
   * The dialogs put 14 40px-wide images in each row,
   * with a 5px right-margin. This calc matches the search
   * bar to the width of the images.
   */
  width: calc(45 * 13px + 40px - 16px - 2px);
}

.me-page-inventory .flis-search__input {
  /*
   * Match the width of the outfit dropdown:
   * 75% - padding - border
   */
  width: calc(75% - 16px - 2px);
}

.you_bottom_lhs .flis-search__container {
  /* Eyeballed */
  margin-top: 5px;
}

.you_bottom_lhs .flis-search__input {
  width: calc(100% - 16px - 2px);
}

.you_bottom_rhs .flis-search__input {
  /* Eyeballed */
  width: 282px;
}
